{% extends 'base.html' %}
{% load static %}
{% block title %} Profile Page {% endblock %}


{% block content %}

<div class="container-fluid">
    {% if form.errors%}
        <div>
               <div class="alert alert-warning alert-dismissible fade show">
                    <strong>MESSAGE!</strong> {{form.errors}}.
                    <button type="button" class="close h-100" data-dismiss="alert" aria-label="Close"><span><i class="mdi mdi-close"></i></span>
                    </button>
                </div>
       </div>
    {% endif %}
        <div class="card-header">
            <h4 class="card-title">User Profile</h4>
        </div>
        <div class="card-body">

            <div class="col-10">
                <form method="POST" action="." enctype="multipart/form-data" >
                    {% csrf_token %}
                    <div class="form-group">
                        <label><img src="{{user.userprofile.profile_pic.url}}" width="200px" alt=""></label>
                        <div class="col-4">
                            {{form2}}
                        </div>
                    </div>
                      <div class="form-group">
                        <div class="col-12">
                            {{form}}
                        </div>
                      </div>
                    <div class="form-group">
                        <div class="col-lg-8">
                            <button type="submit" class="btn btn-success">Update</button>
                        </div>
                    </div>
                </form>
                </div>
            </div>
        </div>
    </div>


<script>
    function copyText(){
        var copyText = document.getElementById("referral_link");

        copyText.select();
        copyText.setSelectionRange(0, 99999);
        navigator.clipboard.writeText(copyText.value);
    }
</script>

{% endblock %}
